.typo, .list a {
  font-size: 40px;
  font-weight: 700;
  font-family: "Menlo", "Consolas", monospace;
  color: black;
  text-decoration: none;
}

.typo option, .list a option {
  font-size: 40px;
}

.transition {
  transition: all .4s ease-in-out;
}

.wrapper {
  height: 100vh;
  font-size: 40px;
  text-align: center;
}

.list {
  display: inline-block;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

.list ul {
  text-align: left;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  display: none;
}

.list ul .active {
  display: block;
}

.list li {
  list-style: none;
}

.list li:first-child a {
  color: rgb(0, 253, 199);
}

.list a {
  text-align: center;
  transition: all .4s;
  color: rgb(0, 253, 199);
  position: relative;
  text-align: center;
}

.list a:after {
  position: absolute;
  content: '';
  height: 5px;
  width: 0;
  right: 0;
  background: rgb(0, 253, 199);
  bottom: 0;
  transition: all .4s ease-out;
}

.list a:hover {
  cursor: pointer;
  color: rgb(0, 253, 199);
}

.list a:hover:after {
  width: 100%;
}

select {
  display: inline;
  border: 0;
  width: auto;
  margin-left: 10px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-bottom: 2px solid #555;
  color: #7b00ff;
  transition: all .4s ease-in-out;
}

select:hover {
  cursor: pointer;
}

select option {
  border: 0;
  border-bottom: 1px solid #555;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.placeholder {
  cursor: pointer;
  color: rgb(0, 253, 199);
}

.placeholder:hover {
  border-bottom: 4px solid;
  color: rgb(0, 253, 199);
  transition: all .2s ease-in-out;
}

.ghost-description-span {
  font-size: 30px;
  font-weight: 400;
}